input.userInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #0fe9e9;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
        border-color: #002fff;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  button.userInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #0fe9e9;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
        border-color: #002fff;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  body.oppconn {
    background-image: url('http://127.0.0.1:4100/volunteer-frontend/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

    /* Custom CSS to change the color of the description */
.description {
  color: black;
}