---
layout: base 
---

<script>
    function search_event()
    {
        if(isSignedIn())
        {
            // call search code here
        } 
    }

    function isSignedIn()
    {
        let jwt = getCookie("jwt");
        if(jwt)
        {
            return true;
        }
        else
        {
            alert("Please Log In first!");
            return false;
        }
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>
<script type="module">

    // uri variable and options object are obtained from config.js
    import { uri, options } from '{{site.baseurl}}/assets/js/api/config.js';
  
    function search_event(){
        const url = uri + '/api/events/query';
        const resultContainer = document.getElementById("result");

        fetch(url, options)
        .then(response => {
        if (response.status !== 200) {
            const errorMsg = 'Database response error: ' + response.status;
            console.log(errorMsg);
            const tr = document.createElement("tr");
            const td = document.createElement("td");
            td.innerHTML = errorMsg;
            tr.appendChild(td);
            resultContainer.appendChild(tr);
            return;
            }

    response.json().then(data => {
      console.log(data);
      for (const row of data) {
        const tr = document.createElement("tr");

        // Make each cell editable with input fields
        const name = document.createElement("td");
        const id = document.createElement("td");
        const age = document.createElement("td");

        const nameInput = document.createElement("input");

        nameInput.value = row.title;
        name.appendChild(nameInput);
          id.innerHTML = row.description; 
          age.innerHTML = row.address;

        tr.appendChild(name);
        tr.appendChild(id);
        tr.appendChild(age);

        // Add a radio button for row selection
        const selectRadio = document.createElement("input");
        selectRadio.type = "radio";
        selectRadio.name = "selectedRow";
        selectRadio.value = row.id;

        tr.appendChild(selectRadio);

        resultContainer.appendChild(tr);
      }
    })
  })
  .catch(err => {
    console.error(err);
    const tr = document.createElement("tr");
    const td = document.createElement("td");
    td.innerHTML = err + ": " + url;
    tr.appendChild(td);
    resultContainer.appendChild(tr);
  });
    }
  </script>
<div class="container">
    <form id="search" action="javascript:search_event()">
        <p><label>
            Title:
            <input class="userInput" type="text" name="title" id="title" />
        </label></p>
        <p><label>
            Description:
            <input class="userInput" type="password" name="description" id="description" />
        </label></p>
        <p><label>
            Address:
            <input class="userInput" type="password" name="address" id="address" />
        </label></p>
        <p><label>
            Zip:
            <input class="userInput" type="text" pattern="^[0-9]{5}$" maxlength="5" placeholder="92127" name="zip" id="zip" />
        </label></p>
        <p><label>
            Date:
            <input class="userInput" type="date" pattern="" name="password" id="password" />
        </label></p>
        <p>
            <button class="userInput">Search</button>
        </p>
    </form>
</div>  
<html>
    <body>
        <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Address</th>
                <th>Zip Code</th>
                <th>Event Date</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody id="result">
              <!-- javascript generated data -->
            </tbody>
          </table>

    </body>
</html>