---
layout: base 
---

<script>
    function search_event()
    {
        if(isSignedIn())
        {
            // call search code here
        } 
    }

    function isSignedIn()
    {
        //setCookie('jwt','rah', 1);
        
        let jwt = getCookie("jwt");
        if(jwt)
        {
            return true;
        }
        else
        {
            alert("Please Log In first!");
            return false;
        }
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>

<div class="container">
    <form id="search" action="javascript:search_event()">
        <p><label>
            Title:
            <input class="userInput" type="text" name="title" id="title" />
        </label></p>
        <p><label>
            Description:
            <input class="userInput" type="password" name="description" id="description" />
        </label></p>
        <p><label>
            Address:
            <input class="userInput" type="password" name="address" id="address" />
        </label></p>
        <p><label>
            Zip:
            <input class="userInput" type="text" pattern="^[0-9]{5}$" maxlength="5" placeholder="92127" name="zip" id="zip" />
        </label></p>
        <p><label>
            Date:
            <input class="userInput" type="date" pattern="" name="password" id="password" />
        </label></p>
        <p>
            <button class="userInput">Search</button>
        </p>
    </form>
</div>  