---
layout: base 
---
<body class="oppconn">
  <h2>Connecting Volunteers to Opportunities</h2>
  <p>
    Our idea is to make a website which stores a different variety of volunteering organizations all around the world.
    We will then make filters where the user can pick what their interests and hobbies are so they can find volunteering opportunities that align with their interests. 
    We plan on making a multitude of different filters, based on past experience, age and location so the user can match with volunteering opportunities that are perfect for them! 
    We will also include details about each volunteering organization, what they are looking fore and their application process.
  </p>
  <br />
  <h2>Why we chose this</h2>
  <p>
  Especially as high schoolers who are required to do a minimum amount of volunteer hours, it's often hard to find 
  volunteer opportunities that align with our interests. A website that is easy to navigate and gives us access to 
  different volunteering opportunities will encourage people to volunteer more. I think this website could be very 
  useful for many people in our school who are looking for different opportunities.</p>
</body>
