---
layout: base 
---
<body class="oppconn">
  <h1>Connecting Volunteers to Opportunities</h1>
  <h4>Connecting volunteering organizations to students in an easy and accessible way.</h4>  
    </p>
    <p>Through filters, users can pick interests and hobbies to find volunteering opportunities that align with their interests. </p>
      
      <p>Different filters, based on past experience, age and location allow the user can match with volunteering opportunities that are perfect for them! </p>
      <body>We will also include details about each volunteering organization, what they are looking for and their application process.</body>
  </p>
    </p>
  <br />
  <h2>Why We Chose This</h2>
  <p>
  As high schoolers who are required to do a minimum amount of volunteer hours, it's often hard to find 
  volunteer opportunities that align with our interests. A website that is easy to navigate and gives us access to 
  different volunteering opportunities will encourage people to volunteer more. I think this website could be very 
  useful for many people in our school who are looking for different opportunities.</p>
</body>